
/* =========================
   FOOTER LOGO COLOR MATCH
========================= */


footer h5 i {
  color: #0B5ED7;   /* header logo blue */
}
footer h5 {
  color: #FFFFFF;   /* header logo white */
}

/* Register page   */


